<!--
##    ## ########  ########    ###    ######## ######## #### ######## ##      ## ########
##   ##  ##     ## ##         ## ##      ##       ##     ##  ##       ##  ##  ## ##
##  ##   ##     ## ##        ##   ##     ##       ##     ##  ##       ##  ##  ## ##
#####    ########  ######   ##     ##    ##       ##     ##  ######   ##  ##  ## ######
##  ##   ##   ##   ##       #########    ##       ##     ##  ##       ##  ##  ## ##
##   ##  ##    ##  ##       ##     ##    ##       ##     ##  ##       ##  ##  ## ##
##    ## ##     ## ######## ##     ##    ##       ##    #### ########  ###  ###  ########
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
 hola humano :) gracias por su interes en nuestro codigo, esperamos lo disfrute. enjoy
-->
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" > <!--<![endif]-->
	<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
	<title>Boxdraw by @bottico @kreattiewe</title>
	<meta name="googlebot" content="all, index, follow" />
  <meta name="robots" content="index, follow" />
  <meta name="rating" content="general" />
  <meta name="distribution" content="global" />
	<link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body>
	
	<%= yield %>
	
	<script src="http://code.jquery.com/jquery-git.js"></script>
	<%= yield_content :javascript %>
	
</body>
</html>